# Libraries

In [1]:
import pandas as pd
import numpy as np
import folium

- Run DBSCAN on the crash rate dataset. This dataset will have coordinates that are closer to LA downtown and other common streets. 
- Integrate the crash rate dataset and the traffic dataset based on the closest distance. Any datapoint closest to

# Traffic Dataset

In [2]:
df_traffic = pd.read_csv(r'../data/dataProcessing_files/df_modified_ver5.csv')
df_traffic

,DR Number,Area ID,Area Name,Premise Description,Address,Cross Street,month,day,year,hour,Day Category,Latitude,Longitude,Date,Day
0,100100007,1,Central,STREET,PICO,HOPE,11,8,2010,22,night,34.0395,-118.2656,2010-11-8,Monday
1,100100767,1,Central,STREET,1300 N BROADWAY,NaN,3,31,2010,4,early_morning,34.0695,-118.2324,2010-3-31,Wednesday
2,100100831,1,Central,STREET,PICO,CHERRY,4,18,2010,1,early_morning,34.0424,-118.2718,2010-4-18,Sunday
3,100101004,1,Central,STREET,FIGUEROA,WASHINGTON BL,6,5,2010,20,night,34.0344,-118.2714,2010-6-5,Saturday
4,100101322,1,Central,STREET,COLLEGE,ALAMEDA,8,7,2010,16,evening,34.0637,-118.2361,2010-8-7,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570367,222104843,21,Topanga,STREET,WINNETKA AV,VICTORY BL,1,26,2022,19,night,34.1857,-118.5710,2022-1-26,Wednesday
570368,222104874,21,Topanga,STREET,TOPANGA CANYON BL,VANOWEN ST,1,24,2022,15,afternoon,34.1938,-118.6059,2022-1-24,Monday
570369,222104886,21,Topanga,STREET,DE SOTO AV,VENTURA FY,1,24,2022,17,evening,34.1740,-118.5888,2022-1-24,Monday
570370,222104962,21,Topanga,STREET,AVENUE SAN LUIS,DUNMAN AV,1,28,2022,19,night,34.1624,-118.6285,2022-1-28,Friday
570371,222104964,21,Topanga,STREET,MEDINA RD,BAZA RD,1,25,2022,15,afternoon,34.1658,-118.6008,2022-1-25,Tuesday

In [3]:
df_traffic = df_traffic[['DR Number', 'Address', 'hour', 'Latitude', 'Longitude', 'Day']]
df_traffic.head()

   DR Number           Address  hour  Latitude  Longitude        Day
0  100100007              PICO    22   34.0395  -118.2656     Monday
1  100100767  1300 N  BROADWAY     4   34.0695  -118.2324  Wednesday
2  100100831              PICO     1   34.0424  -118.2718     Sunday
3  100101004          FIGUEROA    20   34.0344  -118.2714   Saturday
4  100101322           COLLEGE    16   34.0637  -118.2361   Saturday

In [4]:
df_traffic.rename(columns={
    'Address': 'accident_address',
    'Latitude': 'accident_latitude',
    'Longitude': 'accident_longitude',
    'Day': 'day_week'
}, inplace=True)

/var/folders/gc/h6mhk26x34vc_b1d1db5rxh40000gn/T/ipykernel_18043/3399690453.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_traffic.rename(columns={

In [7]:
df_traffic['accident_address'] = df_traffic['accident_address'].apply(lambda x: " ".join(x.split()))
df_traffic['accident_address'] = df_traffic['accident_address'].apply(lambda x: x+', Los Angeles')
df_traffic

/var/folders/gc/h6mhk26x34vc_b1d1db5rxh40000gn/T/ipykernel_13014/1421901114.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_traffic['accident_address'] = df_traffic['accident_address'].apply(lambda x: " ".join(x.split()))
/var/folders/gc/h6mhk26x34vc_b1d1db5rxh40000gn/T/ipykernel_13014/1421901114.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_traffic['accident_address'] = df_traffic['accident_address'].apply(lambda x: x+', Los Angeles')

,DR Number,accident_address,hour,accident_latitude,accident_longitude,day_week
0,100100007,"PICO, Los Angeles",22,34.0395,-118.2656,Monday
1,100100767,"1300 N BROADWAY, Los Angeles",4,34.0695,-118.2324,Wednesday
2,100100831,"PICO, Los Angeles",1,34.0424,-118.2718,Sunday
3,100101004,"FIGUEROA, Los Angeles",20,34.0344,-118.2714,Saturday
4,100101322,"COLLEGE, Los Angeles",16,34.0637,-118.2361,Saturday
...,...,...,...,...,...,...
570367,222104843,"WINNETKA AV, Los Angeles",19,34.1857,-118.5710,Wednesday
570368,222104874,"TOPANGA CANYON BL, Los Angeles",15,34.1938,-118.6059,Monday
570369,222104886,"DE SOTO AV, Los Angeles",17,34.1740,-118.5888,Monday
570370,222104962,"AVENUE SAN LUIS, Los Angeles",19,34.1624,-118.6285,Friday
570371,222104964,"MEDINA RD, Los Angeles",15,34.1658,-118.6008,Tuesday

In [8]:
latlon = df_traffic[['accident_latitude', 'accident_longitude']].iloc[1:500, :].values.tolist()
mapit = folium.Map(location=[34.0395, -118.2656], zoom_start=6)
for coord in latlon:
    folium.Marker(location=[coord[0], coord[1]], fill_color='#43d9de', radius=8).add_to(mapit)

mapit.save('map.html')

# Crash Rate Dataset with K-Means labels

In [8]:
df_crash = pd.read_csv(r'../data/dataProcessing_files/kmeans_k=25.csv')
df_crash

,street,traffic volume,accident count,crash_rate,latitude,longitude,risk level,Frequent_Day,Frequent_Hour,label
0,"102ND ST, Los Angeles",2238,184,8.22,33.944103,-118.254688,low,Friday,14,18
1,"103RD ST, Los Angeles",138801,531,0.38,33.942642,-118.243168,low,Tuesday,14,18
2,"104TH ST, Los Angeles",17741,239,1.35,33.941790,-118.369982,low,Saturday,17,5
3,"105TH ST, Los Angeles",14131,178,1.26,34.750118,-118.316244,low,Tuesday,1,13
4,"10TH AV, Los Angeles",3642,145,3.98,34.037828,-118.327656,low,Saturday,15,8
...,...,...,...,...,...,...,...,...,...,...
1019,"YOLANDA AV, Los Angeles",24334,76,0.31,34.195669,-118.540414,low,Monday,7,16
1020,"YORK BL, Los Angeles",271200,158,0.06,33.957271,-118.050991,low,Monday,18,14
1021,"YUCCA ST, Los Angeles",22468,204,0.91,34.103720,-118.324950,low,Monday,6,20
1022,"ZELZAH AV, Los Angeles",96051,110,0.11,34.243016,-118.523271,low,Monday,8,1
1023,"ZOO DR, Los Angeles",21589,493,2.28,34.154874,-118.294077,low,Friday,15,19

In [9]:
df_crash

,street,traffic volume,accident count,crash_rate,latitude,longitude,risk level,Frequent_Day,Frequent_Hour,label
0,"102ND ST, Los Angeles",2238,184,8.22,33.944103,-118.254688,low,Friday,14,18
1,"103RD ST, Los Angeles",138801,531,0.38,33.942642,-118.243168,low,Tuesday,14,18
2,"104TH ST, Los Angeles",17741,239,1.35,33.941790,-118.369982,low,Saturday,17,5
3,"105TH ST, Los Angeles",14131,178,1.26,34.750118,-118.316244,low,Tuesday,1,13
4,"10TH AV, Los Angeles",3642,145,3.98,34.037828,-118.327656,low,Saturday,15,8
...,...,...,...,...,...,...,...,...,...,...
1019,"YOLANDA AV, Los Angeles",24334,76,0.31,34.195669,-118.540414,low,Monday,7,16
1020,"YORK BL, Los Angeles",271200,158,0.06,33.957271,-118.050991,low,Monday,18,14
1021,"YUCCA ST, Los Angeles",22468,204,0.91,34.103720,-118.324950,low,Monday,6,20
1022,"ZELZAH AV, Los Angeles",96051,110,0.11,34.243016,-118.523271,low,Monday,8,1
1023,"ZOO DR, Los Angeles",21589,493,2.28,34.154874,-118.294077,low,Friday,15,19

In [10]:
df_crash_streets = df_crash['street'].values.tolist()
df_crash_streets

['102ND ST, Los Angeles',
 '103RD ST, Los Angeles',
 '104TH ST, Los Angeles',
 '105TH ST, Los Angeles',
 '10TH AV, Los Angeles',
 '10TH ST, Los Angeles',
 '111TH ST, Los Angeles',
 '112TH ST, Los Angeles',
 '114TH ST, Los Angeles',
 '115TH ST, Los Angeles',
 '116TH ST, Los Angeles',
 '118 FWY, Los Angeles',
 '118TH ST, Los Angeles',
 '11TH AV, Los Angeles',
 '11TH ST, Los Angeles',
 '12TH ST, Los Angeles',
 '134 FWY, Los Angeles',
 '13TH ST, Los Angeles',
 '14TH ST, Los Angeles',
 '155TH ST, Los Angeles',
 '157TH ST, Los Angeles',
 '15TH ST, Los Angeles',
 '161ST ST, Los Angeles',
 '168TH ST, Los Angeles',
 '16TH ST, Los Angeles',
 '170TH ST, Los Angeles',
 '17TH ST, Los Angeles',
 '186TH ST, Los Angeles',
 '18TH ST, Los Angeles',
 '1ST ST, Los Angeles',
 '20TH ST, Los Angeles',
 '214TH ST, Los Angeles',
 '218TH ST, Los Angeles',
 '21ST ST, Los Angeles',
 '223RD ST, Los Angeles',
 '22ND ST, Los Angeles',
 '23RD ST, Los Angeles',
 '240TH ST, Los Angeles',
 '24TH ST, Los Angeles',
 '253RD ST, Los Angeles',
 '257TH ST, Los Angeles',
 '25TH ST, Los Angeles',
 '26TH ST, Los Angeles',
 '27TH ST, Los Angeles',
 '28TH ST, Los Angeles',
 '29TH ST, Los Angeles',
 '2ND AV, Los Angeles',
 '2ND PL, Los Angeles',
 '2ND ST, Los Angeles',
 '30TH ST, Los Angeles',
 '31ST ST, Los Angeles',
 '32ND ST, Los Angeles',
 '33RD ST, Los Angeles',
 '34TH ST, Los Angeles',
 '35TH PL, Los Angeles',
 '35TH ST, Los Angeles',
 '36TH PL, Los Angeles',
 '36TH ST, Los Angeles',
 '37TH PL, Los Angeles',
 '37TH ST, Los Angeles',
 '38TH PL, Los Angeles',
 '38TH ST, Los Angeles',
 '39TH ST, Los Angeles',
 '3RD AV, Los Angeles',
 '3RD ST, Los Angeles',
 '41ST DR, Los Angeles',
 '41ST PL, Los Angeles',
 '41ST ST, Los Angeles',
 '42ND PL, Los Angeles',
 '42ND ST, Los Angeles',
 '43RD PL, Los Angeles',
 '43RD ST, Los Angeles',
 '46TH ST, Los Angeles',
 '47TH ST, Los Angeles',
 '48TH PL, Los Angeles',
 '48TH ST, Los Angeles',
 '49TH ST, Los Angeles',
 '4TH AV, Los Angeles',
 '4TH ST, Los Angeles',
 '51ST PL, Los Angeles',
 '52ND PL, Los Angeles',
 '52ND ST, Los Angeles',
 '53RD ST, Los Angeles',
 '54TH ST, Los Angeles',
 '56TH ST, Los Angeles',
 '57TH ST, Los Angeles',
 '59TH ST, Los Angeles',
 '5TH AV, Los Angeles',
 '5TH ST, Los Angeles',
 '60TH ST, Los Angeles',
 '62ND ST, Los Angeles',
 '64TH ST, Los Angeles',
 '65TH PL, Los Angeles',
 '65TH ST, Los Angeles',
 '66TH ST, Los Angeles',
 '67TH ST, Los Angeles',
 '6TH AV, Los Angeles',
 '6TH ST, Los Angeles',
 '70TH ST, Los Angeles',
 '71ST ST, Los Angeles',
 '73RD ST, Los Angeles',
 '74TH ST, Los Angeles',
 '76TH ST, Los Angeles',
 '78TH PL, Los Angeles',
 '78TH ST, Los Angeles',
 '7TH AV, Los Angeles',
 '7TH ST, Los Angeles',
 '81ST PL, Los Angeles',
 '81ST ST, Los Angeles',
 '82ND ST, Los Angeles',
 '84TH PL, Los Angeles',
 '84TH ST, Los Angeles',
 '87TH PL, Los Angeles',
 '88TH PL, Los Angeles',
 '88TH ST, Los Angeles',
 '89TH ST, Los Angeles',
 '8TH ST, Los Angeles',
 '90TH ST, Los Angeles',
 '91ST ST, Los Angeles',
 '92ND ST, Los Angeles',
 '94TH ST, Los Angeles',
 '95TH ST, Los Angeles',
 '96TH ST, Los Angeles',
 '97TH ST, Los Angeles',
 '98TH ST, Los Angeles',
 '9TH AV, Los Angeles',
 '9TH ST, Los Angeles',
 'A ST, Los Angeles',
 'ABBOT KINNEY BL, Los Angeles',
 'ACADEMY RD, Los Angeles',
 'ADAMS BL, Los Angeles',
 'ADDISON ST, Los Angeles',
 'AINSWORTH ST, Los Angeles',
 'ALAMEDA ST, Los Angeles',
 'ALBANY ST, Los Angeles',
 'ALCAZAR ST, Los Angeles',
 'ALDAMA ST, Los Angeles',
 'ALEXANDRIA AV, Los Angeles',
 'ALGER ST, Los Angeles',
 'ALHAMBRA AV, Los Angeles',
 'ALLESANDRO ST, Los Angeles',
 'ALMA ST, Los Angeles',
 'ALPINE ST, Los Angeles',
 'ALSACE AV, Los Angeles',
 'ALTURA ST, Los Angeles',
 'ALVARADO ST, Los Angeles',
 'ALVIRA ST, Los Angeles',
 'AMADOR PL, Los Angeles',
 'AMADOR ST, Los Angeles',
 'AMBOY AV, Los Angeles',
 'AMELIA AV, Los Angeles',
 'AMES ST, Los Angeles',
 'AMESTOY AV, Los Angeles',
 'ANAHEIM BL, Los Angeles',
 'ANAHEIM ST, Los Angeles',
 'ANDALUSIA AV, Los Angeles',
 'ANDERSON ST, Los Angeles',
 'ANDRITA ST, Los Angeles',
 'ANGELES VISTA BL, Los Angeles',
 'ANGUS ST, Los Angeles',
 'ANZAC AV, Los Angeles',
 'APPERSON ST, Los Angeles',
 'APPLETON ST, Los Angeles',
 'AQUEDUCT AV, Los Angeles',
 'ARBOR VITAE ST, Los Angeles',
 'ARCADIA ST, Los Angeles',
 'ARDMORE AV, Los Angeles',
 'ARGUS DR, Los Angeles',
 'ARLETA AV, Los Angeles',
 'ARLINGTON AV, Los Angeles',
 'ARMINTA ST, Los Angeles',
 'ARMSTRONG AV, Los Angeles',
 'ARROYO GLEN ST, Los Angeles',
 'ARROYO GLEN, Los Angeles',
 'ARTESIAN ST, Los Angeles',
 'ASCOT AV, Los Angeles',
 'ATHENS BL, Los Angeles',
 'AVALON AV, Los Angeles',
 'AVALON BL, Los Angeles',
 'AVE 19, Los Angeles',
 'AVE 26, Los Angeles',
 'AVE 35, Los Angeles',
 'AVE 50, Los Angeles',
 'AVE 51, Los Angeles',
 'AVE 53, Los Angeles',
 'AVE 54, Los Angeles',
 'AVE 55, Los Angeles',
 'AVE 60, Los Angeles',
 'AVE 63, Los Angeles',
 'AVE 64, Los Angeles',
 'AVE OF THE STARS, Los Angeles',
 'AVENUE 26, Los Angeles',
 'AVENUE 35, Los Angeles',
 'AVENUE 37, Los Angeles',
 'AVENUE 43, Los Angeles',
 'AVENUE 49, Los Angeles',
 'AVENUE 50, Los Angeles',
 'AVENUE 51, Los Angeles',
 'AVENUE 52, Los Angeles',
 'AVENUE 54, Los Angeles',
 'AVENUE 60, Los Angeles',
 'AVENUE OF THE STARS, Los Angeles',
 'AVIATION BL, Los Angeles',
 'AVOCADO ST, Los Angeles',
 'AXTELL ST, Los Angeles',
 'BAIRD AV, Los Angeles',
 'BAKER ST, Los Angeles',
 'BALBOA BL, Los Angeles',
 'BANDERA ST, Los Angeles',
 'BANDINI ST, Los Angeles',
 'BANGOR ST, Los Angeles',
 'BANNING BL, Los Angeles',
 'BANNING ST, Los Angeles',
 'BARBARA ST, Los Angeles',
 'BARHAM BL, Los Angeles',
 'BARRINGTON AV, Los Angeles',
 'BARTEE AV, Los Angeles',
 'BARTON AV, Los Angeles',
 'BATES AV, Los Angeles',
 'BAY VIEW AV, Los Angeles',
 'BEACHWOOD DR, Los Angeles',
 'BEACHY AV, Los Angeles',
 'BEACON ST, Los Angeles',
 'BEATRICE ST, Los Angeles',
 'BEAUDRY AV, Los Angeles',
 'BECK AV, Los Angeles',
 'BEDFORD ST, Los Angeles',
 'BELHAVEN AV, Los Angeles',
 'BELLAIRE AV, Los Angeles',
 'BELLE PORTE AV, Los Angeles',
 'BELLEGLADE AV, Los Angeles',
 'BELLEVUE AV, Los Angeles',
 'BELLINGHAM AV, Los Angeles',
 'BENTLEY AV, Los Angeles',
 'BENTON WAY, Los Angeles',
 'BERENDO ST, Los Angeles',
 'BERKELEY AV, Los Angeles',
 'BERNAL AV, Los Angeles',
 'BERRY DR, Los Angeles',
 'BEVERLY BL, Los Angeles',
 'BEVERLY GLEN BL, Los Angeles',
 'BIG TUJUNGA CANYON RD, Los Angeles',
 'BIXEL ST, Los Angeles',
 'BLACKWELDER ST, Los Angeles',
 'BLAKE AV, Los Angeles',
 'BLAKESLEE AV, Los Angeles',
 'BLANCHARD ST, Los Angeles',
 'BLEDSOE ST, Los Angeles',
 'BLINN AV, Los Angeles',
 'BLUCHER AV, Los Angeles',
 'BLYTHE ST, Los Angeles',
 'BOCA AV, Los Angeles',
 'BOCCACCIO AV, Los Angeles',
 'BONNER AV, Los Angeles',
 'BONNIE BRAE ST, Los Angeles',
 'BORDEN AV, Los Angeles',
 'BOSQUE DR, Los Angeles',
 'BOWDOIN ST, Los Angeles',
 'BOYLE AV, Los Angeles',
 'BRADDOCK DR, Los Angeles',
 'BRADLEY AV, Los Angeles',
 'BRANFORD ST, Los Angeles',
 'BREED ST, Los Angeles',
 'BRIER AV, Los Angeles',
 'BRIMFIELD AV, Los Angeles',
 'BROAD AV, Los Angeles',
 'BROADWAY, Los Angeles',
 'BRONSON AV, Los Angeles',
 'BUCHANAN ST, Los Angeles',
 'BUCKLER AV, Los Angeles',
 'BUDLONG AV, Los Angeles',
 'BUNDY DR, Los Angeles',
 'BURBANK BL, Los Angeles',
 'BURNSIDE AV, Los Angeles',
 'BYNNER DR, Los Angeles',
 'CABRILLO AV, Los Angeles',
 'CADILLAC AV, Los Angeles',
 'CAHUENGA BL, Los Angeles',
 'CALIFA ST, Los Angeles',
 'CALNEVA DR, Los Angeles',
 'CALVERT ST, Los Angeles',
 'CAMARILLO ST, Los Angeles',
 'CAMBRIDGE ST, Los Angeles',
 'CAMDEN AV, Los Angeles',
 'CAMERFORD AV, Los Angeles',
 'CAMULOS ST, Los Angeles',
 'CANOGA AV, Los Angeles',
 'CANTERBURY AV, Los Angeles',
 'CANYON LAKE DR, Los Angeles',
 'CANZONET ST, Los Angeles',
 'CAPITOL DR, Los Angeles',
 'CAPPS AV, Los Angeles',
 'CARLTON WY, Los Angeles',
 'CARONDELET ST, Los Angeles',
 'CARRILLO DR, Los Angeles',
 'CARSON ST, Los Angeles',
 'CASE AV, Los Angeles',
 'CASHIO ST, Los Angeles',
 'CASITAS AV, Los Angeles',
 'CASTALIA AV, Los Angeles',
 'CASTLE ST, Los Angeles',
 'CATALINA AV, Los Angeles',
 'CELES ST, Los Angeles',
 'CENTER WY, Los Angeles',
 'CENTINELA AV, Los Angeles',
 'CENTRAL AV, Los Angeles',
 'CENTRE ST, Los Angeles',
 'CENTURY BL, Los Angeles',
 'CENTURY PARK E, Los Angeles',
 'CERES AV, Los Angeles',
 'CESAR CHAVEZ AV, Los Angeles',
 'CESAR E CHAVEZ AV, Los Angeles',
 'CHANDLER BL, Los Angeles',
 'CHARITON ST, Los Angeles',
 'CHASE ST, Los Angeles',
 'CHATSWORTH DR, Los Angeles',
 'CHATSWORTH ST, Los Angeles',
 'CHENAULT ST, Los Angeles',
 'CHEROKEE AV, Los Angeles',
 'CHEVIOT VISTA PL, Los Angeles',
 'CHEVY CHASE DR, Los Angeles',
 'CHICKASAW AV, Los Angeles',
 'CHIMINEAS AV, Los Angeles',
 'CHRISTY AV, Los Angeles',
 'CIMARRON AV, Los Angeles',
 'CIMARRON ST, Los Angeles',
 'CLARENCE ST, Los Angeles',
 'CLARK ST, Los Angeles',
 'CLAYTON AV, Los Angeles',
 'CLEON AV, Los Angeles',
 'CLINTON ST, Los Angeles',
 'CLOVER AV, Los Angeles',
 'CLOVERDALE AV, Los Angeles',
 'CLOVIS AV, Los Angeles',
 'COCHRAN AV, Los Angeles',
 'COEUR D ALENE AV, Los Angeles',
 'COLDWATER CANYON AV, Los Angeles',
 'COLDWATER CANYON BL, Los Angeles',
 'COLFAX AV, Los Angeles',
 'COLISEUM PL, Los Angeles',
 'COLISEUM ST, Los Angeles',
 'COLLEGE ST, Los Angeles',
 'COLUMBIA AV, Los Angeles',
 'COLUMBUS AV, Los Angeles',
 'COMMERCE AV, Los Angeles',
 'COMMONWEALTH AV, Los Angeles',
 'COMPTON AV, Los Angeles',
 'CONSTELLATION BL, Los Angeles',
 'CORBIN AV, Los Angeles',
 'CORNING ST, Los Angeles',
 'CORONADO ST, Los Angeles',
 'CORONADO TERRACE, Los Angeles',
 'COUNCIL ST, Los Angeles',
 'COUNTRY CLUB DR, Los Angeles',
 'COURTLEIGH DR, Los Angeles',
 'COY DR, Los Angeles',
 'COZYCROFT AV, Los Angeles',
 'CREED AV, Los Angeles',
 'CRENSHAW AV, Los Angeles',
 'CRENSHAW BL, Los Angeles',
 'CRESCENT AV, Los Angeles',
 'CRESCENT HEIGHTS BL, Los Angeles',
 'CROESUS AV, Los Angeles',
 'CROWN HILL AV, Los Angeles',
 'CRUCES ST, Los Angeles',
 'CULVER BL, Los Angeles',
 'CUMMINGS ST, Los Angeles',
 'CURSON AV, Los Angeles',
 'CYPRESS AV, Los Angeles',
 'D ST, Los Angeles',
 'DACOTAH ST, Los Angeles',
 'DALLAS ST, Los Angeles',
 'DALY ST, Los Angeles',
 'DAY ST, Los Angeles',
 'DE LONGPRE AV, Los Angeles',
 'DE SOTO AV, Los Angeles',
 'DEANE ST, Los Angeles',
 'DEERHORN DR, Los Angeles',
 'DEERING AV, Los Angeles',
 'DELANO ST, Los Angeles',
 'DENISON AV, Los Angeles',
 'DENKER AV, Los Angeles',
 'DENKER ST, Los Angeles',
 'DENNI ST, Los Angeles',
 'DENVER AV, Los Angeles',
 'DERONDA DR, Los Angeles',
 'DETROIT ST, Los Angeles',
 'DEVONSHIRE ST, Los Angeles',
 'DIAMOND ST, Los Angeles',
 'DIVISION ST, Los Angeles',
 'DIXIE CANYON AV, Los Angeles',
 'DOCKWEILER ST, Los Angeles',
 'DOHENY DR, Los Angeles',
 'DOLORES ST, Los Angeles',
 'DONA PEGITA DR, Los Angeles',
 'DORAN ST, Los Angeles',
 'DORCHESTER AV, Los Angeles',
 'DORIE DR, Los Angeles',
 'DOVER ST, Los Angeles',
 'DRONFIELD AV, Los Angeles',
 'DRUID ST, Los Angeles',
 'DUNSMUIR AV, Los Angeles',
 'E ST, Los Angeles',
 'EAGLE ROCK BL, Los Angeles',
 'EASTERN AV, Los Angeles',
 'EASTLAKE AV, Los Angeles',
 'ECHO PARK AV, Los Angeles',
 'ECHO ST, Los Angeles',
 'EDGEHILL DR, Los Angeles',
 'EDGEMAR AV, Los Angeles',
 'EDGEWOOD PL, Los Angeles',
 'EDINBURGH AV, Los Angeles',
 'EFFIE ST, Los Angeles',
 'EL CENTRO AV, Los Angeles',
 'EL DORADO AV, Los Angeles',
 'EL PASO DR, Los Angeles',
 'EL RIO AV, Los Angeles',
 'ELBERON AV, Los Angeles',
 'ELDER ST, Los Angeles',
 'ELLENDALE PL, Los Angeles',
 'ELLSMERE AV, Los Angeles',
 'ELMGROVE ST, Los Angeles',
 'ELMWOOD AV, Los Angeles',
 'ELMYRA ST, Los Angeles',
 'ELYSIAN PARK DR, Los Angeles',
 'EMELITA ST, Los Angeles',
 'EMERSON AV, Los Angeles',
 'ENCINO AV, Los Angeles',
 'ENTRADA DR, Los Angeles',
 'ERWIN ST, Los Angeles',
 'ESTARA AV, Los Angeles',
 'ETIWANDA AV, Los Angeles',
 'ETON AV, Los Angeles',
 'EUBANK AV, Los Angeles',
 'EUSTACE ST, Los Angeles',
 'EVERETT ST, Los Angeles',
 'EVERGREEN AV, Los Angeles',
 'EXPOSITION BL, Los Angeles',
 'F ST, Los Angeles',
 'FAIR AV, Los Angeles',
 'FAIRFAX AV, Los Angeles',
 'FALLBROOK AV, Los Angeles',
 'FARRALONE AV, Los Angeles',
 'FEDERAL AV, Los Angeles',
 'FERN DELL DR, Los Angeles',
 'FICKETT ST, Los Angeles',
 'FIGUEROA ST, Los Angeles',
 'FILMORE ST, Los Angeles',
 'FINLEY AV, Los Angeles',
 'FIRTH BL, Los Angeles',
 'FLETCHER DR, Los Angeles',
 'FLINT AV, Los Angeles',
 'FLORENCE AV, Los Angeles',
 'FLOWER ST, Los Angeles',
 'FOOTHILL BL, Los Angeles',
 'FOREST LAWN DR, Los Angeles',
 'FORMAN AV, Los Angeles',
 'FOUNTAIN AV, Los Angeles',
 'FRAMPTON AV, Los Angeles',
 'FRANKLIN AV, Los Angeles',
 'FRESNO ST, Los Angeles',
 'FRIAR ST, Los Angeles',
 'FRIES AV, Los Angeles',
 'FRIES ST, Los Angeles',
 'FULCHER AV, Los Angeles',
 'FULTON AV, Los Angeles',
 'G ST, Los Angeles',
 'GAFFEY ST, Los Angeles',
 'GAGE AV, Los Angeles',
 'GAMBIER ST, Los Angeles',
 'GARDEN AV, Los Angeles',
 'GARLAND AV, Los Angeles',
 'GARNET ST, Los Angeles',
 'GARTH AV, Los Angeles',
 'GARVANZA AV, Los Angeles',
 'GATES ST, Los Angeles',
 'GAVINA AV, Los Angeles',
 'GAYLEY AV, Los Angeles',
 'GERMAIN ST, Los Angeles',
 'GILMORE ST, Los Angeles',
 'GILROY ST, Los Angeles',
 'GLADE AV, Los Angeles',
 'GLEN ELLEN PL, Los Angeles',
 'GLEN IRIS AV, Los Angeles',
 'GLENDALE BL, Los Angeles',
 'GLENHURST AV, Los Angeles',
 'GLENOAKS BL, Los Angeles',
 'GORDON ST, Los Angeles',
 'GOWER ST, Los Angeles',
 'GRACIA ST, Los Angeles',
 'GRAMERCY PL, Los Angeles',
 'GRANADA ST, Los Angeles',
 'GRAND AV, Los Angeles',
 'GRAND VIEW BL, Los Angeles',
 'GRAND VIEW ST, Los Angeles',
 'GRANDE VISTA AV, Los Angeles',
 'GRANT ST, Los Angeles',
 'GRANVILLE AV, Los Angeles',
 'GREEN AV, Los Angeles',
 'GRIFFIN AV, Los Angeles',
 'GRIFFITH AV, Los Angeles',
 'GULANA AV, Los Angeles',
 'GULF AV, Los Angeles',
 'GUTHRIE AV, Los Angeles',
 'HADDON AV, Los Angeles',
 'HAGAR ST, Los Angeles',
 'HAINES CANYON AV, Los Angeles',
 'HALLDALE AV, Los Angeles',
 'HALLDALE ST, Los Angeles',
 'HALLETT AV, Los Angeles',
 'HALSTED ST, Los Angeles',
 'HAMILTON AV, Los Angeles',
 'HAMLIN ST, Los Angeles',
 'HANCOCK ST, Los Angeles',
 'HANNA AV, Los Angeles',
 'HARBOR BL, Los Angeles',
 'HARBOR FWY, Los Angeles',
 'HARRINGTON AV, Los Angeles',
 'HARRY BRIDGES BL, Los Angeles',
 'HART ST, Los Angeles',
 'HARTLAND ST, Los Angeles',
 'HARVARD BL, Los Angeles',
 'HASKELL AV, Los Angeles',
 'HATTERAS ST, Los Angeles',
 'HAUSER BL, Los Angeles',
 'HAVENHURST AV, Los Angeles',
 'HAWAIIAN AV, Los Angeles',
 'HAWTHORN AV, Los Angeles',
 'HAYNES ST, Los Angeles',
 'HAYVENHURST AV, Los Angeles',
 'HAZELTINE AV, Los Angeles',
 'HENRY FORD AV, Los Angeles',
 'HERKIMER ST, Los Angeles',
 'HERRICK AV, Los Angeles',
 'HESBY ST, Los Angeles',
 'HI POINT ST, Los Angeles',
 'HIAWATHA ST, Los Angeles',
 'HICKORY ST, Los Angeles',
 'HIGHLAND AV, Los Angeles',
 'HIGHLAND VIEW AV, Los Angeles',
 'HIGHLANDER RD, Los Angeles',
 'HILGARD AV, Los Angeles',
 'HILL ST, Los Angeles',
 'HILLCREST DR, Los Angeles',
 'HILLHURST AV, Los Angeles',
 'HOBART BL, Los Angeles',
 'HOLLOW SPRINGS DR, Los Angeles',
 'HOLLYWOOD BL, Los Angeles',
 'HOLMES AV, Los Angeles',
 'HOOPER AV, Los Angeles',
 'HOOPER ST, Los Angeles',
 'HOOVER ST, Los Angeles',
 'HOPE ST, Los Angeles',
 'HORTENSE ST, Los Angeles',
 'HUBBARD ST, Los Angeles',
 'HUDSON AV, Los Angeles',
 'HUMBOLDT ST, Los Angeles',
 'HUSTON ST, Los Angeles',
 'HYATT AV, Los Angeles',
 'HYDE PARK BL, Los Angeles',
 'HYPERION AV, Los Angeles',
 'IMPERIAL HWY, Los Angeles',
 'IMPERIAL HY, Los Angeles',
 'INDEPENDENCE AV, Los Angeles',
 'INDEX ST, Los Angeles',
 'INGLEWOOD BL, Los Angeles',
 'IRVING BL, Los Angeles',
 'ISABEL DR, Los Angeles',
 'ISLAND AV, Los Angeles',
 'JAMES M WOOD BL, Los Angeles',
 'JASMINE AV, Los Angeles',
 'JASON AV, Los Angeles',
 'JEFFERSON BL, Los Angeles',
 'JENNY AV, Los Angeles',
 'JENSEN DR, Los Angeles',
 'JUNE ST, Los Angeles',
 'KANSAS AV, Los Angeles',
 'KENISTON AV, Los Angeles',
 'KENISTON ST, Los Angeles',
 'KENMORE AV, Los Angeles',
 'KESTER AV, Los Angeles',
 'KESWICK ST, Los Angeles',
 'KILLION ST, Los Angeles',
 'KING AV, Los Angeles',
 'KINGSBURY ST, Los Angeles',
 'KINGSLEY DR, Los Angeles',
 'KISMET AV, Los Angeles',
 'KITTRIDGE ST, Los Angeles',
 'KNOX AV, Los Angeles',
 'L ST, Los Angeles',
 'LA BREA AV, Los Angeles',
 'LA CIENEGA BL, Los Angeles',
 'LA CLEDE AV, Los Angeles',
 'LA CUESTA DR, Los Angeles',
 'LA JOLLA AV, Los Angeles',
 'LA MIRADA AV, Los Angeles',
 'LA SALLE AV, Los Angeles',
 'LABRADOR ST, Los Angeles',
 'LACONIA BL, Los Angeles',
 'LAGOON AV, Los Angeles',
 'LAKE ST, Los Angeles',
 'LAKESHORE AV, Los Angeles',
 'LAKEWOOD AV, Los Angeles',
 'LAKME AV, Los Angeles',
 'LAMANDA ST, Los Angeles',
 'LANARK ST, Los Angeles',
 'LANKERSHIM BL, Los Angeles',
 'LANZIT AV, Los Angeles',
 'LAS PALMAS AV, Los Angeles',
 'LASSEN ST, Los Angeles',
 'LAUREL CANYON BL, Los Angeles',
 'LEDGE AV, Los Angeles',
 'LEDGEWOOD DR, Los Angeles',
 'LEIGHTON AV, Los Angeles',
 'LEIMERT ST, Los Angeles',
 'LELAND AV, Los Angeles',
 'LELAND ST, Los Angeles',
 'LEMARSH ST, Los Angeles',
 'LEMON ST, Los Angeles',
 'LEWIS ST, Los Angeles',
 'LEXINGTON AV, Los Angeles',
 'LINCOLN AV, Los Angeles',
 'LINCOLN BL, Los Angeles',
 'LINCOLN PARK AV, Los Angeles',
 'LINDA ROSA AV, Los Angeles',
 'LINDLEY AV, Los Angeles',
 'LOMA VERDE AV, Los Angeles',
 'LOMITA BL, Los Angeles',
 'LOMITA ST, Los Angeles',
 'LONGBOW DR, Los Angeles',
 'LONGWOOD AV, Los Angeles',
 'LORENA ST, Los Angeles',
 'LORRAINE BL, Los Angeles',
 'LOS ANGELES ST, Los Angeles',
 'LOS FELIZ BL, Los Angeles',
 'LOUISE AV, Los Angeles',
 'LOWELL AV, Los Angeles',
 'LOWRY RD, Los Angeles',
 'LUCAS AV, Los Angeles',
 'LUCERNE BL, Los Angeles',
 'LUCILE AV, Los Angeles',
 'M ST, Los Angeles',
 'MACLAY ST, Los Angeles',
 'MACON ST, Los Angeles',
 'MADELIA AV, Los Angeles',
 'MADISON AV, Los Angeles',
 'MAHAR AV, Los Angeles',
 'MAIN ST, Los Angeles',
 'MALGREN AV, Los Angeles',
 'MANCHESTER AV, Los Angeles',
 'MANNING AV, Los Angeles',
 'MANSFIELD AV, Los Angeles',
 'MAPLE AV, Los Angeles',
 'MAPLEWOOD AV, Los Angeles',
 'MARATHON ST, Los Angeles',
 'MARENGO AV, Los Angeles',
 'MARENGO ST, Los Angeles',
 'MARIANO ST, Los Angeles',
 'MARIGOLD AV, Los Angeles',
 'MARINA EXPRESSWAY, Los Angeles',
 'MARINE AV, Los Angeles',
 'MARIONDALE AV, Los Angeles',
 'MARIPOSA AV, Los Angeles',
 'MARLTON AV, Los Angeles',
 'MARMION WAY, Los Angeles',
 'MARMION WY, Los Angeles',
 'MARR ST, Los Angeles',
 'MARTEL AV, Los Angeles',
 'MARTIN LUTHER KING BL, Los Angeles',
 'MARTIN LUTHER KING JR BL, Los Angeles',
 'MARTINEZ ST, Los Angeles',
 'MASON AV, Los Angeles',
 'MASSELIN AV, Los Angeles',
 'MASSELIN ST, Los Angeles',
 'MATEO ST, Los Angeles',
 'MAURETANIA ST, Los Angeles',
 'MCKINLEY AV, Los Angeles',
 'MECCA AV, Los Angeles',
 'MELROSE AV, Los Angeles',
 'MENLO AV, Los Angeles',
 'MERDIAN ST, Los Angeles',
 'MERIDIAN ST, Los Angeles',
 'MESA ST, Los Angeles',
 'MESQUIT ST, Los Angeles',
 'MEYLER ST, Los Angeles',
 'MICHELTORENA ST, Los Angeles',
 'MILBANK ST, Los Angeles',
 'MILITARY AV, Los Angeles',
 'MILLER DR, Los Angeles',
 'MILWAUKEE AV, Los Angeles',
 'MINNEAPOLIS ST, Los Angeles',
 'MIRAMAR ST, Los Angeles',
 'MIRANDA ST, Los Angeles',
 'MISSION RD, Los Angeles',
 'MISSISSIPPI AV, Los Angeles',
 'MISSOURI AV, Los Angeles',
 'MOHAWK ST, Los Angeles',
 'MONON ST, Los Angeles',
 'MONROE ST, Los Angeles',
 'MONTAGUE ST, Los Angeles',
 'MONTANA ST, Los Angeles',
 'MONTE VISTA AV, Los Angeles',
 'MONTE VISTA ST, Los Angeles',
 'MONTEREY RD, Los Angeles',
 'MOORPARK ST, Los Angeles',
 'MORAY AV, Los Angeles',
 'MORGAN AV, Los Angeles',
 'MORRISON ST, Los Angeles',
 'MOSHER AV, Los Angeles',
 'MOTOR AV, Los Angeles',
 'MOZART ST, Los Angeles',
 'MULHOLLAND DR, Los Angeles',
 'MULLEN AV, Los Angeles',
 'MYERS ST, Los Angeles',
 'MYRA AV, Los Angeles',
 'N BROADWAY, Los Angeles',
 'N FIGUEROA ST, Los Angeles',
 'N MAIN ST, Los Angeles',
 'N SPRING ST, Los Angeles',
 'NAOMI AV, Los Angeles',
 'NAPA ST, Los Angeles',
 'NASH DR, Los Angeles',

In [11]:
df_crash = df_crash[['street', 'traffic volume', 'accident count', 'crash_rate', 'latitude', 'longitude', 'label']]
df_crash.rename(columns={
    'traffic volume': 'traffic_volume',
    'accident count': 'accident_count'
}, inplace=True)
df_crash

/var/folders/gc/h6mhk26x34vc_b1d1db5rxh40000gn/T/ipykernel_13014/668033708.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_crash.rename(columns={

,street,traffic_volume,accident_count,crash_rate,latitude,longitude,label
0,"102ND ST, Los Angeles",2238,184,8.22,33.944103,-118.254688,18
1,"103RD ST, Los Angeles",138801,531,0.38,33.942642,-118.243168,18
2,"104TH ST, Los Angeles",17741,239,1.35,33.941790,-118.369982,5
3,"105TH ST, Los Angeles",14131,178,1.26,34.750118,-118.316244,13
4,"10TH AV, Los Angeles",3642,145,3.98,34.037828,-118.327656,8
...,...,...,...,...,...,...,...
1019,"YOLANDA AV, Los Angeles",24334,76,0.31,34.195669,-118.540414,16
1020,"YORK BL, Los Angeles",271200,158,0.06,33.957271,-118.050991,14
1021,"YUCCA ST, Los Angeles",22468,204,0.91,34.103720,-118.324950,20
1022,"ZELZAH AV, Los Angeles",96051,110,0.11,34.243016,-118.523271,1
1023,"ZOO DR, Los Angeles",21589,493,2.28,34.154874,-118.294077,19

In [12]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_std = scaler.fit_transform(np.array(df_crash['crash_rate']).reshape(-1,1))
x_std.min()

-0.13298769458962886

In [13]:
x_std.mean()

-1.0408340855860843e-17

In [14]:
mean_trafficVol_label = df_crash.groupby('label')['traffic_volume'].mean().to_dict()
mean_accidentVol_label = df_crash.groupby('label')['accident_count'].mean().to_dict()
mean_crashRate_label = df_crash.groupby('label')['crash_rate'].mean().to_dict()
mean_crashRate_label

# print(f'Crash rates below 1% (low): {len(df_crash[df_crash["crash_rate"] <= 1])}')
# print(f'Crash rates between 1%-20% (medium): {len(df_crash[(df_crash["crash_rate"] > 1)&(df_crash["crash_rate"] <= 20)])}')
# print(f'Crash rates above 20% (high): {len(df_crash[df_crash["crash_rate"] > 20])}')

{0: 6.74523076923077,
 1: 6.193846153846154,
 2: 2.702857142857143,
 3: 2.425,
 4: 7.536744186046511,
 5: 4.4373469387755105,
 6: 5.89046875,
 7: 5.3161538461538465,
 8: 14.853333333333333,
 9: 46.1,
 10: 10.020000000000001,
 11: 7.639726027397261,
 12: 13.129550561797753,
 13: 5.57,
 14: 2.4856249999999998,
 15: 7.287999999999999,
 16: 78.36551020408164,
 17: 25.903673469387755,
 18: 26.265555555555554,
 19: 70.0240909090909,
 20: 5.42603448275862,
 21: 16.537166666666668,
 22: 18.586521739130436,
 23: 1.7266666666666668,
 24: 0.25}

- We can say anything less than 4% - low
- 4-15 % - medium
- 15% - high

# Integrating the two datasets

In [35]:
# Run a k-means model to predict the labels for each data in the big dataset.
import pickle

coordinates_crash_rate = df_traffic[['accident_latitude', 'accident_longitude']].values.tolist()

model = pickle.load(open("../results/kmeans_1.0.2.pkl", "rb"))
y_pred = [model.predict(np.array([lat, long]).reshape(1, -1))[0] for lat, long in coordinates_crash_rate]

In [16]:
df_traffic['predicted_labels'] = y_pred

/var/folders/gc/h6mhk26x34vc_b1d1db5rxh40000gn/T/ipykernel_13014/2589123422.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_traffic['predicted_labels'] = y_pred

In [17]:
df_traffic

,DR Number,accident_address,hour,accident_latitude,accident_longitude,day_week,predicted_labels
0,100100007,"PICO, Los Angeles",22,34.0395,-118.2656,Monday,0
1,100100767,"1300 N BROADWAY, Los Angeles",4,34.0695,-118.2324,Wednesday,12
2,100100831,"PICO, Los Angeles",1,34.0424,-118.2718,Sunday,0
3,100101004,"FIGUEROA, Los Angeles",20,34.0344,-118.2714,Saturday,0
4,100101322,"COLLEGE, Los Angeles",16,34.0637,-118.2361,Saturday,12
...,...,...,...,...,...,...,...
570367,222104843,"WINNETKA AV, Los Angeles",19,34.1857,-118.5710,Wednesday,16
570368,222104874,"TOPANGA CANYON BL, Los Angeles",15,34.1938,-118.6059,Monday,16
570369,222104886,"DE SOTO AV, Los Angeles",17,34.1740,-118.5888,Monday,16
570370,222104962,"AVENUE SAN LUIS, Los Angeles",19,34.1624,-118.6285,Friday,16
570371,222104964,"MEDINA RD, Los Angeles",15,34.1658,-118.6008,Tuesday,16

In [19]:
def risk_level(x):
    if x > 0 and x <=10:
        return 'low'
    elif x > 11 and x <= 20:
        return 'medium'
    else:
        return 'high'

df_traffic['mean_trafficVolume'] = df_traffic['predicted_labels'].apply(lambda x: mean_trafficVol_label[x])
df_traffic['mean_accidentVolume'] = df_traffic['predicted_labels'].apply(lambda x: mean_accidentVol_label[x])
df_traffic['mean_crashRate'] = df_traffic['predicted_labels'].apply(lambda x: mean_crashRate_label[x])
df_traffic['risk_level'] = df_traffic['mean_crashRate'].apply(lambda x: risk_level(x))

/var/folders/gc/h6mhk26x34vc_b1d1db5rxh40000gn/T/ipykernel_13014/303275901.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_traffic['mean_trafficVolume'] = df_traffic['predicted_labels'].apply(lambda x: mean_trafficVol_label[x])
/var/folders/gc/h6mhk26x34vc_b1d1db5rxh40000gn/T/ipykernel_13014/303275901.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_traffic['mean_accidentVolume'] = df_traffic['predicted_labels'].apply(lambda x: mean_accidentVol_label[x])
/var/folders/gc/h6mhk26x34vc_b1d1db5rxh40000gn/T/ipykernel_13014/303275901.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_traffic['mean_crashRate'] = df_traffic['predicted_labels'].apply(lambda x: mean_crashRate_label[x])
/var/folders/gc/h6mhk26x34vc_b1d1db5rxh40000gn/T/ipykernel_13014/303275901.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_traffic['risk_level'] = df_traffic['mean_crashRate'].apply(lambda x: risk_level(x))

In [20]:
df_traffic

,DR Number,accident_address,hour,accident_latitude,accident_longitude,day_week,predicted_labels,mean_trafficVolume,mean_accidentVolume,mean_crashRate,risk_level
0,100100007,"PICO, Los Angeles",22,34.0395,-118.2656,Monday,0,204447.984615,268.707692,6.745231,low
1,100100767,"1300 N BROADWAY, Los Angeles",4,34.0695,-118.2324,Wednesday,12,56487.460674,369.303371,13.129551,medium
2,100100831,"PICO, Los Angeles",1,34.0424,-118.2718,Sunday,0,204447.984615,268.707692,6.745231,low
3,100101004,"FIGUEROA, Los Angeles",20,34.0344,-118.2714,Saturday,0,204447.984615,268.707692,6.745231,low
4,100101322,"COLLEGE, Los Angeles",16,34.0637,-118.2361,Saturday,12,56487.460674,369.303371,13.129551,medium
...,...,...,...,...,...,...,...,...,...,...,...
570367,222104843,"WINNETKA AV, Los Angeles",19,34.1857,-118.5710,Wednesday,16,120269.428571,336.224490,78.365510,high
570368,222104874,"TOPANGA CANYON BL, Los Angeles",15,34.1938,-118.6059,Monday,16,120269.428571,336.224490,78.365510,high
570369,222104886,"DE SOTO AV, Los Angeles",17,34.1740,-118.5888,Monday,16,120269.428571,336.224490,78.365510,high
570370,222104962,"AVENUE SAN LUIS, Los Angeles",19,34.1624,-118.6285,Friday,16,120269.428571,336.224490,78.365510,high
570371,222104964,"MEDINA RD, Los Angeles",15,34.1658,-118.6008,Tuesday,16,120269.428571,336.224490,78.365510,high

In [21]:
df_traffic['risk_level'].value_counts()

low       296605
medium    138907
high      134860
Name: risk_level, dtype: int64

In [22]:
df_traffic['risk_level'].value_counts()

low       296605
medium    138907
high      134860
Name: risk_level, dtype: int64

In [26]:
x = pd.DataFrame(df_traffic.groupby(['day_week', 'hour'])['mean_trafficVolume'].mean().unstack(level=-1).fillna(0))
x.loc[('Monday', 16)]

90070.14235190421

In [25]:
x = pd.DataFrame(df_traffic.groupby(['day_week', 'hour'])['mean_accidentVolume'].mean().unstack(level=-1).fillna(0))
x.loc[('Monday', 16)]

329.42579039398754

In [29]:
coordinates = zip(df_traffic['accident_latitude'], df_traffic['accident_longitude'])
coordinates = list(coordinates)
print(len(coordinates))

570372

In [30]:
df_crash.groupby('label')['traffic_volume'].mean().to_dict()

{0: 204447.9846153846,
 1: 23996.115384615383,
 2: 122322.95238095238,
 3: 122408.375,
 4: 109305.25581395348,
 5: 81862.12244897959,
 6: 30854.75,
 7: 21949.46153846154,
 8: 79831.64912280702,
 9: 34942.5,
 10: 224395.0,
 11: 67354.57534246576,
 12: 56487.4606741573,
 13: 20539.8,
 14: 80048.6875,
 15: 116363.26666666666,
 16: 120269.42857142857,
 17: 52223.244897959186,
 18: 60659.351851851854,
 19: 34786.625,
 20: 68404.94827586207,
 21: 39392.433333333334,
 22: 29290.72463768116,
 23: 712617.3333333334,
 24: 1555578.0}

In [32]:
model.predict(np.array([coordinates[1][0], coordinates[1][1]]).reshape(1, -1))[0]

12

In [33]:
df_traffic.to_csv(r'../data/dataProcessing_files/data_final.csv', index=False)

In [34]:
df_traffic

,DR Number,accident_address,hour,accident_latitude,accident_longitude,day_week,predicted_labels,mean_trafficVolume,mean_accidentVolume,mean_crashRate,risk_level
0,100100007,"PICO, Los Angeles",22,34.0395,-118.2656,Monday,0,204447.984615,268.707692,6.745231,low
1,100100767,"1300 N BROADWAY, Los Angeles",4,34.0695,-118.2324,Wednesday,12,56487.460674,369.303371,13.129551,medium
2,100100831,"PICO, Los Angeles",1,34.0424,-118.2718,Sunday,0,204447.984615,268.707692,6.745231,low
3,100101004,"FIGUEROA, Los Angeles",20,34.0344,-118.2714,Saturday,0,204447.984615,268.707692,6.745231,low
4,100101322,"COLLEGE, Los Angeles",16,34.0637,-118.2361,Saturday,12,56487.460674,369.303371,13.129551,medium
...,...,...,...,...,...,...,...,...,...,...,...
570367,222104843,"WINNETKA AV, Los Angeles",19,34.1857,-118.5710,Wednesday,16,120269.428571,336.224490,78.365510,high
570368,222104874,"TOPANGA CANYON BL, Los Angeles",15,34.1938,-118.6059,Monday,16,120269.428571,336.224490,78.365510,high
570369,222104886,"DE SOTO AV, Los Angeles",17,34.1740,-118.5888,Monday,16,120269.428571,336.224490,78.365510,high
570370,222104962,"AVENUE SAN LUIS, Los Angeles",19,34.1624,-118.6285,Friday,16,120269.428571,336.224490,78.365510,high
570371,222104964,"MEDINA RD, Los Angeles",15,34.1658,-118.6008,Tuesday,16,120269.428571,336.224490,78.365510,high

- User inputs address
- Address gets converted to coordinates
- Coordinates passes through K-Means saved model to get a predicted label
- Its associated data will be shown in the popup text
- The traffic volume, traffic accidents and labels can already be plotted on the map and on dataframe.